.header__container {
    border: 3px solid wheat;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;  
}

.scorebox {
  background-color: white;
  color: #522f87;
  padding: 20px 33px;
  border-radius: 12px;
  text-transform: uppercase;
}

.scorebox__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.scorebox__score {
  color: #522f87;
  font-size: 2.5rem;
  font-weight: 700;
}
