.header__container {
  border: 3px solid wheat;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  max-height: 164px;
}

.scorebox {
  background-color: white;
  color: #522f87;
  padding: 20px 33px;
  border-radius: 12px;
  text-transform: uppercase;
}

.scorebox__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.scorebox__score {
  color: #522f87;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 776px) {
  .header__container {
    box-sizing: border-box;
    margin: 3em 3em 0 1.5em;
  }

  .scorebox {
    padding: 10px 15px;
  }
}
