body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: rgb(32 48 69);
  color: white;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 13vh;
  min-height: 100vh;
  align-items: center;
  padding: 0 20px;
}
