.resultField__container {
  display: flex;
  gap: 3vw;
}

.chooseIcon__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  /* flex-wrap: wrap; */
  width: 14vw;
  font-size: 1.5em;
}

.userSelection__wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 18px solid;
  background: rgb(236, 233, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b8bff;
}

.aiSelection__wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 18px solid;
  color: #dba748;
  background: rgb(236, 233, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 10vw;
}

.resultBox__title {
  font-size: 2em;
}

.reset__button {
  width: 100%;
  border: 3px solid white;
  border-radius: 0.4rem;
  color: #6464c3;
  font-size: 1em;
}

.reset__button:hover {
  color: grey;
}

@media screen and (max-width: 976px) {
  .userSelection__wrapper {
    width: 80px;
    height: 80px;
  }

  .aiSelection__wrapper {
    width: 80px;
    height: 80px;
  }

  .resultBox__title {
    font-size: 1em;
  }
}
